{{ 'component-editorial-block.css' | asset_url | stylesheet_tag }}

{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "watchCSS": true
}
{%- endcapture -%}

<section class="editorial-block-section">
    <div class="EditorialBlock" data-flickity='{{ flickity_options }}'>
        {%- for block in section.blocks -%}
            {%- assign mobile_image = block.settings.mobile_image | default: block.settings.editorial-image -%}
            <div class="EditorialBlock__Cell EditorialBlock__Cell--{{ forloop.index }}">
                {%- if block.settings.button_1_link != empty -%}<a href="{{ block.settings.button_1_link }}">{%- else if block.settings.button_2_link != empty -%}<a href="{{ block.settings.button_2_link }}">{%- endif -%}
                    {%- if mobile_image -%}
                        <img class="hidden-tablet hidden-lap hidden-desk" src="{{ mobile_image | img_url: 'x800' }}">
                    {%- else -%}
                        <img class="hidden-tablet hidden-lap hidden-desk" src="{{ block.settings.editorial-image | img_url: '1000x' }}">
                    {%- endif -%}
                    {%- if block.settings.editorial-image -%}
                        <img class="hidden-phone" src="{{ block.settings.editorial-image | img_url: '1000x' }}">
                    {%- endif -%}
                {%- if block.settings.button_1_link != empty or block.settings.button_2_link != empty -%}</a>{%- endif -%}

                <div class="EditorialBlock__Content">
                    {%- if block.settings.main-heading != empty -%}
                        <h2>{{ block.settings.main-heading | escape }}</h2>
                    {%- endif -%}
                    {%- if block.settings.content != empty -%}
                        <p class="EditorialBlock__Content--description">{{ block.settings.content | escape }}</p>
                    {%- endif -%}
                    {%- if block.settings.button-1-text != empty -%}
                        <a class="link link--button" href="{{ block.settings.button-1-link }}">{{ block.settings.button-1-text | escape }} &rarr;</a>
                    {%- endif -%}
                    {%- if block.settings.button-2-text != empty -%}
                        <a class="link link--button" href="{{ block.settings.button-2-link }}">{{ block.settings.button-2-text | escape }} &rarr;</a>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
</section>

{% schema %}
{
    "name": "Editorial Block",
    "max_blocks": 2,
    "settings": [
        {
            "type": "range",
            "id": "cycle_speed",
            "min": 3,
            "max": 8,
            "step": 1,
            "unit": "sec",
            "label": "Change slides every",
            "default": 5
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "slider-image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "editorial-image",
                    "label": "slider-image"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": "Mobile image"
                },
                {
                    "type": "text",
                    "id": "main-heading",
                    "label": "Heading",
                    "default": "Main Heading Editorial"
                },
                {
                    "type": "text",
                    "id": "content",
                    "label": "content",
                    "default": "Content Edtorial"
                },
                {
                    "type": "header",
                    "content": "Button"
                },
                {
                    "type": "text",
                    "id": "button-1-text",
                    "label": "Text",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "button-1-link",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "button-2-text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "button-2-link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Editorial Block",
            "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}